<?xml version="1.0"?>
<launch>
  <!-- Parameters -->
  <arg name="duration"   default="30.000" doc="The duration for the throttle_square to run, in seconds."/>
  <arg name="resolution" default="0.050" doc="Time between recording values."/>
  <arg name="minimum"    default="0.150" doc="Minimum throttle value, when oscillating."/>
  <arg name="maximum"    default="0.600" doc="Maximum throttle value, when oscillating."/>

  <!-- Base DBW Program -->
  <include file="$(find dbw_mkz_can)/launch/dbw.launch">
  </include>

  <!-- Main throttle_square.py script. required=true kills the other nodes when the script finishes. -->
  <node pkg="dbw_mkz_can" type="throttle_square.py" name="throttle_square" output="screen" required="true">
    <param name="duration"   value="$(arg duration)" />
    <param name="resolution" value="$(arg resolution)" />
    <param name="minimum"    value="$(arg minimum)" />
    <param name="maximum"    value="$(arg maximum)" />
  </node>

</launch>
